{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Principal{% endblock %}

{% block page_title %}Principal{% endblock page_title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/DataTables/media/css/DT_bootstrap.css' %}" />

{% endblock css %}


{% block content %}
<div class="container">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Solicitudes</a></li>
        <li><a href="#">Control de asistencia</a></li>
        <li><a href="{% url 'solicitudes:constancia_list' %}">Constancia</a></li>
        <li class="active">Eliminar constancia</li>
      </ol>
    <!-- start: PAGE CONTENT -->

    <div class="row">
        <div class="col-sm-10">

            <!-- start: FROM -->
            <form action="" method="post">{% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external-link-square"></i>
                    Eliminar constancia
                    <div class="panel-tools">
                        <a class="btn btn-xs btn-link panel-collapse collapses" href="#"> </a>
                    </div>
                </div>
                <div class="panel-body">

                    <table class="table table-bordered">

                        <tr>
                            <td>N° Constancia:</td>
                            <td>{{object.id}}</td>
                        </tr>
                        <tr>
                            <td>Tipo de constancia:</td>
                            <td>{{object.tipo_constancia}}</td>
                        </tr>
                        <tr>
                            <td>Empleado:</td>
                            <td>{{object.empleado}}</td>
                        </tr>
                        <tr>
                            <td>Fecha de solicitud:</td>
                            <td>{{object.fecha_solicitud}}</td>
                        </tr>
                        <tr>
                            <td>Fecha de aprobación:</td>
                            <td>{{object.fecha_aprobacion}}</td>
                        </tr>
                        <tr>
                            <td>Sueldo:</td>
                            <td>{{object.sueldo}}</td>
                        </tr>

                    </table>

                    <p>¿ Seguro de eliminar esta constancia ?</p>

                    <a href="" onclick="document.forms[0].submit();return false;" class="btn btn btn-danger">
                    <i class="fa fa-trash-o"></i> Eliminar</a>
                    <a href="{% url 'solicitudes:constancia_list' %}" class="btn btn-primary"><i class="fa clip-arrow-left-3"></i> Cancelar</a>

                </div>

            </div>
            </form>
            <!-- end: FROM -->

        </div>
    </div>

    <!-- end: PAGE CONTENT-->
</div>
{% endblock content %}

{% block js %}


    <script src="{% static "js/regiones.js" %}"></script>


    <script>
      jQuery(document).ready(function() {
        Main.init();
        Regiones.init();
      });
    </script>

{% endblock js %}
