{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Principal{% endblock %}

{% block page_title %}Principal{% endblock page_title %}


{% block css %}
{% endblock css %}

{% block content %}
<div class="container">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Reportes</a></li>
        <li><a href="{% url 'report:proyecto_list' %}" >Mantenimiento</a></li>
        <li class="active">Detalles del proyecto</li>
      </ol>

  <div class="row">
        <div class="col-md-10">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">

              <h3 class="profile-username text-center">{{ object.get_full_name }}</h3>

              <p class="text-muted text-center">{{ object.cargo }}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Id: </b> {{ object.id }}
                </li>
                 <li class="list-group-item">
                  <b>Código del proyecto: </b> {{ object.cod_proyecto}}
                </li>
                 <li class="list-group-item">
                  <b>Proyecto: </b> {{ object.proyecto}}
                </li>

              </ul>
              <a href="{% url 'report:proyecto_list' %}" class="btn btn-primary"><i class="fa clip-arrow-left-3"></i> Regresar al listado</a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
  </div>


</div>
{% endblock content %}

