
       <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Reportes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'report:reporte_list' %}"><i class="fa fa-circle-o"></i> Listado</a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Mantenimiento
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="{% url 'report:proyecto_list' %}"><i class="fa fa-circle-o"></i> Proyecto</a></li>
                <li><a href="{% url 'report:telescopio_list' %}"><i class="fa fa-circle-o"></i> Telescopio</a></li>
              </ul>
            </li>
        </li>


