{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edición del empleado {{ user.username }}{% endblock %}

{% block content-header %}
    <h1>
        {{ page.title }}
        <small>{{ page.subtitle }}</small>
    </h1>
{% endblock content-header %}


{% block content %}

    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Edición de datos de empleado</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">
                    <form role="form"  method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-success" type="submit">
                                    <i class="icon-ok icon-white"></i> Grabar
                                </button>

                                <a href="{% url 'users:empleado_list' %}" class="btn btn-primary"><i
                                        class="fa clip-arrow-left-3"></i> Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
