<html lang="es">
{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Remote file for Bootstrap Modal</title>

    <link href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-timepicker.min.css" rel="stylesheet' %}"/>

    <style>.datepicker {
        z-index: 1200 !important;
    }
    </style>


</head>
<body>

<form action="{% url 'empresa_export_empleado_ind' empleado_id %}" method="post" id="form1" name="form1">
    {% csrf_token %}

    <!-- /modal-header -->
    <div class="modal-body">
        <h5>Empleado:</h5>
        <h4>
            {{ empleado.first_name }}, {{ empleado.last_name }}
        </h4>
        <p>Seleccione el rango de fechas a exportar</p>

        <form action="" method="post">{% csrf_token %}

            <table>
                {{ form|bootstrap }}
            </table>


    </div><!-- /modal-body -->

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

        <button id="btn" type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Exportar</button>
    </div><!-- /modal-footer -->

</form>
</body>

<script src="{% static "plugins//bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js" %}"></script>
<script src="{% static "plugins/jquery-validation/dist/jquery.validate.js" %}"></script>
<script>
    $(document).ready(function () {

        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            keyboardNavigation: true,
            //daysOfWeekDisabled : [1],
            language: "es"
        }).val();


        $("#form1").validate({
            rules: {
                desde: {
                    required: true,
                    date: true
                },

                hasta: {
                    required: true,
                    date: true
                },

            },
            messages: {
                hasta: "La fecha desde es requerida formato aaaa-mm-dd",
                desde: "La hasta es requerida formato aaaa-mm-dd"
            }
        });

        $('#btn').click(function () {
            $("#form1").valid();
        });
    });
</script>

</html>
