{% extends "base.html" %}
{% load static i18n %}
{% block title %}Usuarios Intranet{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins\datatables\dataTables.bootstrap.min-css' %}">
{% endblock css %}

{% block content-header %}
    <h1>
        {{ page.title }}
        <small>{{ page.subtitle }}</small>
    </h1>
{% endblock content-header %}


{% block content %}
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Reportes</a></li>
        <li class="active">Listado</li>
      </ol>

        <div class="row">
            <div class="col-xs-10">
                <div class="box box-primary">
                    <!--box header empieza aqui-->
                    <div class="box-header">
                        <h3 class="box-title">Listado de reportes - Intranet</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">

                        <a href="{% url 'report:reporte_create' %}"
                                               title="Agregar reporte"
                                               class="btn btn-info">Agregar reporte <i class="fa fa-plus"></i></a>

                        </br></br>
                        <table id="example1" class="table table-bordered table-striped table-hover">
                            <!--Campos de la tabla-->
                            <thead>
                                <tr>
                                    <th>N° reporte</th>
                                    <th>Fecha de observación</th>
                                    <th>Asistente</th>
                                    <th>Proyecto</th>
                                    <th>Observadores</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            
                            <!--Body de la tabla-->
                            <tbody>
                            {% for rep in reporte_list %}
                                <tr>
                                    <td>{{ rep.id }}</td>
                                    <td>{{ rep.fecha_obs }}</td>
                                    <td>{{ rep.asistente }}</td>
                                    <td>{{ rep.proyecto }}</td>
                                    <td>{{ rep.observadores }}</td>
                                    <td>
                                        <div class="btn-group">

                                            <a href="{% url 'report:reporte_update' rep.id %}"
                                               class="btn btn-info"
                                               title="Editar reporte"><i class="fa fa-edit"></i></a>
                                            <a href="{% url 'report:reporte_view' rep.id %}"
                                               title="Ver reporte"
                                               class="btn btn-info"><i class="fa fa-eye"></i></a>
                                            <a href="{% url 'report:reporte_delete' rep.id %}"
                                               title="Eliminar"
                                               class="btn btn-warning"><i class="fa fa-remove"></i></a>

                                        </div>


                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            
                            <!--Foot de la tabla-->
                            <tfoot>
                                <tr>
                                    <th>N° reporte</th>
                                    <th>Fecha de observación</th>
                                    <th>Asistente</th>
                                    <th>Proyecto</th>
                                    <th>Observadores</th>
                                    <th>Acción</th>
                                </tr>
                            </tfoot>
                        </table>
                        {% include "_pagination.html" %}
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
{% endblock content %}


{% block js %}

    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>

        <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
              'paging'      : true,
              'lengthChange': false,
              'searching'   : false,
              'ordering'    : true,
              'info'        : true,
              'autoWidth'   : false
            })
        })
        </script>

{% endblock js %}