{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block title %}Edición de reportes{% endblock %}

{% block css %}     
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/dist/css/select2.min.css' %}">
{% endblock css %}


{% block content-header %}
    <h1>
        {{ page.title }}
        <small>{{ page.subtitle }}</small>
    </h1>
{% endblock content-header %}


{% block content %}
<div class="container">

    <div class="row">
        <!-- left column -->
        <div class="col-sm-10">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Reportes</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <div class="box-body">
                    <form role="form"  method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="control-group">
                            <br>
                            <br>
                            <div class="controls">
                                <button class="btn btn-success" type="submit">
                                    <i class="icon-ok icon-white"></i> Grabar
                                </button>

                                <a href="{% url 'report:reporte_list' %}" class="btn btn-primary"><i
                                        class="fa clip-arrow-left-3"></i> Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
    <script src="{% static 'plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

    <script>
      jQuery(document).ready(function() {

        $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
          autoclose: true,
          keyboardNavigation : true ,
          //daysOfWeekDisabled : [1],
          //language: "es"
        }).val();

      });
    </script>

<script>
$(function() {
    $('#div_id_vacio_camara').hide(); 
    $('#id_telescopio').change(function(){
        if($('#id_telescopio').val() == '1') {
            $('#div_id_vacio_camara').show();
            $('#div_id_vacio_ls').show();
            $('#div_id_vacio_li').show();
        } else {
            $('#div_id_vacio_camara').hide();
            $('#div_id_vacio_ls').hide();
            $('#div_id_vacio_li').hide();
            
        } 
    });
});
</script>

{% endblock js %}
