{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Principal{% endblock %}

{% block page_title %}Principal{% endblock page_title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/DataTables/media/css/DT_bootstrap.css' %}" />

{% endblock css %}


{% block content %}
<div class="container">

    <!-- start: PAGE CONTENT -->

    <div class="row">
        <div class="col-sm-10">

            <!-- start: FROM -->
            <form action="" method="post">{% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external-link-square"></i>
                    Eliminar reporte
                    <div class="panel-tools">
                        <a class="btn btn-xs btn-link panel-collapse collapses" href="#"> </a>
                    </div>
                </div>
                <div class="panel-body">

                    <table class="table table-bordered">

                        <tr>
                            <td>N° Reporte:</td>
                            <td>{{object.id}}</td>
                        </tr>
                        <tr>
                            <td>Tipo de reporte:</td>
                            <td>{{object.tipo_reporte}}</td>
                        </tr>
                        <tr>
                            <td>Proyecto:</td>
                            <td>{{object.proyecto}}</td>
                        </tr>
                        <tr>
                            <td>Fecha de observación:</td>
                            <td>{{object.fecha_obs}}</td>
                        </tr>

                    </table>

                    <p>¿ Seguro de eliminar este registro ?</p>

                    <a href="" onclick="document.forms[0].submit();return false;" class="btn btn btn-danger">
                    <i class="fa fa-trash-o"></i> Eliminar</a>
                    <a href="{% url 'report:reporte_list' %}" class="btn btn-primary"><i class="fa clip-arrow-left-3"></i> Cancelar</a>

                </div>

            </div>
            </form>
            <!-- end: FROM -->

        </div>
    </div>

    <!-- end: PAGE CONTENT-->
</div>
{% endblock content %}

{% block js %}


    <script src="{% static "js/regiones.js" %}"></script>


    <script>
      jQuery(document).ready(function() {
        Main.init();
        Regiones.init();
      });
    </script>

{% endblock js %}
